---
permalink: /feed.xml
---

<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Sarah Fossheim</title>
	<subtitle>Sarah Fossheim's blog</subtitle>
	<link href="https://fossheim.io{{ permalink }}" rel="self"/>
	<link href="https://fossheim.io/"/>
  <updated>{{ collections.sortedPosts[0].date | 'date_to_xmlschema' }}</updated>
  <id>https://fossheim.io/</id>
  <author>
    <name>Sarah Fossheim</name>
    <email>sarah@fossheim.io</email>
	</author>
	{% for post in collections.sortedPosts %}
    <entry>
      <title>{{ post.data.title }}</title>
      <link href="https://fossheim.io/{{ post.url }}"/>
      <updated>{{ post.date | 'date_to_xmlschema' }}</updated>
      <id>https://fossheim.io{{ post.url }}</id>
      <content type="html"><![CDATA[
        {{ post.templateContent | safe }}
      ]]></content>
    </entry>
	{% endfor %}
</feed>
